
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <!-- Inicio Servicios -->
    <div id="services" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                        <br /><br /><br /><br />
                        <h2>Nuestros Servicios</h2>
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="services-contents">
                    <!-- Inicio Servicios izquierda arriba-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-code"></i>
                                    </a>
                                    <h4>Programadores Expertos</h4>
                                    <p>
                                        will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                                    </p>
                                </div>
                            </div>
                            <!-- Fin detalles servicio izquierda arriba -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-camera-retro"></i>
                                    </a>
                                    <h4>Diseñadores Creativos</h4>
                                    <p>
                                        will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                                    </p>
                                </div>
                            </div>
                            <!-- Fin detalles -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- Inicio columna derecho arriba-->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-wordpress"></i>
                                    </a>
                                    <h4>Programadores wordpress</h4>
                                    <p>
                                        will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                                    </p>
                                </div>
                            </div>
                            <!-- Fin detalles -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-camera-retro"></i>
                                    </a>
                                    <h4>Maquetador social </h4>
                                    <p>
                                        will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                                    </p>
                                </div>
                            </div>
                            <!-- Fin detalles -->
                        </div>
                    </div>
                    <!-- Fin izquierda servicios  -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- fin col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-bar-chart"></i>
                                    </a>
                                    <h4>Expertos SEO</h4>
                                    <p>
                                        will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                                    </p>
                                </div>
                            </div>
                            <!-- Fin detalles-->
                        </div>
                    </div>
                    <!-- Fin servicios izquierda -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- Fin col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-ticket"></i>
                                    </a>
                                    <h4>24/7 Soporte</h4>
                                    <p>
                                        will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                                    </p>
                                </div>
                            </div>
                            <!-- Fin detalles -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin area de servicios -->
    <br />
    <br />
    <br />
    <br />
    <img src="~/Content/Imagenes/banner-nosotros-link-marketing.jpg" width="1110" height="300" />
}


