@{
    ViewBag.Title = "Home Page";
}
  
<script>

    $('.carousel').carousel({
        interval: 2000
    })

</script>

<!-- Inicio  -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">

            <img src="https://www.ventiniconstructora.com/data1/images/banner1.png" width="1500" height="300" />
        </div>

        

    </div>

</div>
<!-- fin -->
<!--Slogan inicio-->
<blockquote class="blockquote text-center">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Slogan de la empresa</footer>
</blockquote>
<!--Fin slogan-->
<!-- Tres columnas de servicio-->
<div class="row">
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Calidad</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </center>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Excelentes Precios</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </center>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>y Mas</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </center>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<!-- Inicio de hisotia nosotros -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">

        <!--titulo-->
        <br /><br />
        <center><h2 class="featurette-heading">Nuestra . <span class="text-muted">Historia.</span></h2></center>
        <br /> <br />
        <!--Parrafos-->
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    </div>
    <!--imagen de nuestra historia-->
    <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="col-md-5">
        <img src="~/Content/Cómo-mejorar-la-relación-con-los-compañeros-de-trabajo-500x334.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image" />
    </div>
</div>
<!--fin de seccion nuestra historia-->
<!--inicio de contactanos-->
<div class="container">
    <div style="text-align:center">
        <br /><br /><br /><br /><br /><br />
        <h2>Contact Us</h2>
        <p>Swing by for a cup of coffee, or leave us a message:</p>
    </div>

    <section class="col-md-5" style="text-align:left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.095907172777!2d-68.99604988630026!3d18.43395407663143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf541bb9c77e59%3A0x341ce695e435fe53!2sCaribbean%20Cinemas!5e0!3m2!1ses!2sdo!4v1569208987423!5m2!1ses!2sdo" width="600" height="450" frameborder="0" style="border:0;"></iframe>
    </section>

    <section class="col-md-5" style="text-align:right">

        <h2>Contact Us</h2>
        <p>Doctor Luis j Suares #52, La Romana</p>
        <p> Republica Dominicana</p>

        <form role="form">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input style="margin-left:170px" type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" style="margin-left:170px" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </section>
    <!--fin contactanos-->

</div>
